#post{
  font-size:1.8rem;
  text-align: justify;
  text-align-last: justify;
}
body{
  text-align:center;
  background:rgb(204,232,207);
  padding:10px;
}
.footer{
  width:100%;
  font-size:1.5rem;
}
@media (max-width: 1200px) {
  html{
    font-size:12px;
  }
  body{
    width:94%;
    margin:0 auto;
  }
}
@media (min-width: 1200px) {
  html{
    font-size:20px;
  }
  body{
    width:720px;
    margin:0 auto;
  }
}
